* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #222;
    /* background-image: url();
    background-size: cover;
    background-position: center; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #9CF6FB;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {

    background-color: #222;
    color: #9CF6FB;
    outline: 2px solid #9CF6FB;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #9CF6FB;
    color: #222;
    border: none;
    outline: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .action-btn {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsiveness codes */
@media(max-width:800px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle {
        display: block;
    }

    .dropdown {
        display: block;
    }
}