* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #222;
    background-image: url(Assets/shilloet.png);
    background-size: cover;
    background-position: center;
}

/* ------------------- Navigation ------------------------*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #9CF6FB;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {

    background-color: #222;
    color: #9CF6FB;
    outline: 2px solid #9CF6FB;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #9CF6FB;
    color: #222;
    border: none;
    outline: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 250px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .action-btn {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ------------------------------- Body --------------------------------*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    z-index: 1;
    -webkit-transform: translate3d(0%, -200%, 0);
    transform: translate3d(0%, -200%, 0);
}

.container .hero-pic {
    width: 250px;
    height: 300px;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, .5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 1s;
}

.hero-pic img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #fff;
    font-size: 14px;
}

.hero-text h5 span {
    color: #9CF6FB;
    font-size: 16px;
}

.hero-text h1 {
    color: #9CF6FB;
    font-size: 3rem;
}

.hero-text p {
    color: #fff;
    text-align: justify;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 1s;
}

.hero-text .social i:hover {
    color: #9CF6FB;
    transform: rotate(360deg);
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    color: #fff;
    border-color: #9CF6FB;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
}

.btn-group .btn:hover {
    color: #222;
    background-color: #9CF6FB;
}

.btn.active {
    border-color: #9CF6FB;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, .5);
}

/* ------------------- Responsiveness codes ----------------------------*/
@media(max-width:800px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle {
        display: block;
    }

    .dropdown {
        display: block;
    }

    .container {
        flex-direction: column;
        padding-top: 2rem;
        justify-content: center;
        align-items: center;
        -webkit-transform: translate3d(0%, -100%, 0);
        transform: translate3d(0%, -100%, 0);
    }

    .hero-text {
        padding: 40px 0px;
        justify-content: center;
        align-items: center;
    }

    .hero-text p {
        text-align: center;
    }
}

@media(max-width: 500px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
}